AppPort=Ваш_Порт

PostgresDSN=Ваша_Строка_подключения

RedisAddr=Ваш_Адрес_Подключения_К_Redis

warningZone=Радиус_в_котором_пользователь_хочет_видеть_инциденты

STATS_TIME_WINDOW_MINUTES=Время_выборки_для_статистики

webhook_retries=ваше_количество_попыток_отправки_вебхуков

CacheUpdateTimeout=количество_секунд_для_обновления_кэша

ApiKey=Ваш_API_ключ

WEBHOOK_URL=Ваш_адрес_для_вебхуков

CacheTTL=Время_жизни_кэша_в_минутах

Webhook_Timeout=Максимальное_время_подключения_в_минутах